In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Q1. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [8]:
up_400 = df.sort_values('Attack', ascending=False).reset_index().head(400)
up_800 = df.sort_values('Attack', ascending=False).reset_index()[400:800]

In [18]:
num_400 = up_400.Legendary.sum()
num_800 = up_800.Legendary.sum()

In [20]:
num_400-num_800

57

### Q2. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [23]:
df.groupby('Type 1').Total.mean().sort_values(ascending=False).index[2]

'Flying'

### Q3. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [25]:
dfs = df.dropna().reset_index()
dfs = dfs[:int(len(dfs)*0.6)]

In [26]:
dfs['Defense'].quantile(0.25)

50.0

### Q4. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [28]:
fire_m = df[df['Type 1']=='Fire'].Attack.mean()
(df[df['Type 1']=='Water'].Attack >= fire_m).sum()

37

### Q5. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [38]:
abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]

2