In [38]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

### Q1. 성별이 Male인 환자들의 age의 평균값은 ?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB

In [8]:
df['age'] = df['age'].str.replace('*','').astype('int')
df.loc[df['gender']=='Male'].age.mean()

C:\Users\Admin\AppData\Local\Temp/ipykernel_12848/1830693598.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['age'] = df['age'].str.replace('*','').astype('int')

44.68623481781376

### Q2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [10]:
bmis = df.dropna()
df = df.fillna(bmis.bmi.median())

In [11]:
round(df.bmi.mean(),3)

29.166

### Q3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [14]:
fi = df['bmi'].fillna(method = 'ffill')
result = round(fi.mean(),3)
print(result)

29.188

### Q4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [17]:
df['age'] = df['age'].str.replace('*','').astype('int')

AttributeError: Can only use .str accessor with string values!

In [19]:
df['age_cat'] = (df['age']//10)*10

In [20]:
bmi_mean = df[df.bmi.notnull()].groupby(df['age_cat']).bmi.mean()
bmi_mean

age_cat
0     18.960784
10    24.477228
20    28.052747
30    31.751111
40    31.427097
50    31.894086
60    31.615873
70    30.447727
80    28.566667
Name: bmi, dtype: float64

In [25]:
dic = {x:y for x,y in bmi_mean.items()}
df.loc[df.bmi.isnull(),'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x:dic[x])
df.bmi.mean()

29.2627029367386

### Q5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [42]:
df.loc[df.avg_glucose_level >=200,'avg_glucose_level'] = 199

In [43]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,199.00,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [44]:
round(df[df['stroke']==1].avg_glucose_level.mean(),3)

125.188