In [1]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

In [2]:
train.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [5]:
submission.head()

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

In [57]:
X_train = train.drop(columns=['ID','y'])
X_train = pd.get_dummies(X_train)
y_train = train['y']
# y_train = pd.get_dummies(y_train)

In [58]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train)

In [59]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier()

In [60]:
pred = rf.predict_proba(x_test)
pred

array([[0.11, 0.89],
       [0.85, 0.15],
       [0.97, 0.03],
       ...,
       [0.63, 0.37],
       [0.85, 0.15],
       [0.67, 0.33]])

In [61]:
y_test.head(10)

2340     yes
12734     no
3132      no
4851      no
2660      no
12167     no
4438     yes
4293     yes
8842     yes
4272      no
Name: y, dtype: object

In [62]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, pred[:,1])

0.7861841629201288

In [65]:
test_data = pd.get_dummies(test.drop(columns=['ID']))
test_pred = rf.predict_proba(test_data)
test_pred[:,1]

array([0.88, 0.83, 0.1 , ..., 0.21, 0.67, 0.05])

In [67]:
submission['predict'] = test_pred[:,1]

In [68]:
submission.head()

      ID  predict
0  53608     0.88
1  51055     0.83
2  52573     0.10
3  50458     0.24
4  52272     0.36